

.navbar-light .navbar-brand {color:black;}

nav {background-color:#A588C3;}


body {font-family: 'Source Sans Pro', sans-serif;}



.mt-0 {
  margin-top: ($spacer * .25) !important;
}


.row {margin-bottom: 40px;}


.row {margin-top: 40px;}



.col {margin-top: 40px; margin-top: 40px;}

